#root {
  width: max(100%, 1280px);
  padding: 2rem;
}

.blog__image {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.blog__card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2vw;
  border: 1px solid;
  border-radius: 0.5vw;
  flex-direction: column;
  width: 19vw;
}

.home {
  width: 100%;
}

.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4vw;
}

.post-datails__image {
  width: 100%;
  height: 50lvh;
}